body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightgrey; /* спробуй hidden, scroll, visible */
}

.menu {
    display: flex;
    gap: 15px;
    justify-content: center;
    background: #e0e5ec;
    padding: 20px;
    border-radius: 15px;
}

.form {
    margin: 10px 0;
    display: block;
    width: 100%;
    padding: 8px;
    border: 5px solid black;
    border-radius: 4px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery img {
    height: 300px;
    width: 350px;
    border-radius: 5px;
}

.info-img {
    width: 250px;
    height: 250px;
}

.overflow {
    width: 500px;
    height: 100px;
    background: lightyellow;
    border: 1px solid #ccc;
    overflow: auto;
/
}

.box {
    width: 100px;
    height: 80px;
    margin: 4px;
}

.float-left {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.clear {
    clear: both;
}

.sticky-div {
    position: sticky;
    top: 40px; /* Позиція, де прилиплий елемент стане фіксованим */
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    border: 1px solid black;
}